body{
background: #a2c513
}

#Information{
font-size: 24px;
background-color: #b92d54;
}

#Contact{
border: 2px solid #b92d54;
background-color: White;
background-image: url(img.jpg);
background-position: center;
background-size: 1300px 420px;
background-repeat: no-repeat;
}

p{
margin-left: 20px;
}

#Compétences{
font-size: 24px;
background-color: #0063dc;
}

#Level{

border: 2px solid #0063dc;
background-color: white;
background-image: url(img2.jpg);
background-position: center;
background-size: 900px 300px;
background-repeat: no-repeat;
}

#Formation{
font-size: 24px;
background-color: #cb2027;
}

#Parcours{
border: 2px solid  #cb2027;
background-color: white;
background-image: url(img3.jpg);
background-position: center;
background-size: 500px 200px;
background-repeat: no-repeat;
}
#submit{ 
background-color: #007BFF;
border: 1px solid #0063dc
}
